@model List<Bestellung>

@{
    ViewData["Title"] = "Home Page";
}


<h1>Das sind meine Bestellungen</h1>
<table>
    <thead>
    <tr>
        <th>Bestellid</th>
        <th>Preis</th>
        <th>Menge</th>
        <th>Mitarbeiterid</th>
        <th>Tischid</th>
        <th>Gastid</th>
        
    </tr>
    </thead>
    <tbody>
    @{

        foreach (var bestellung in Model)
        {
            
            <tr>
                <td>@(bestellung.bestellid)</td>
                <td>@(bestellung.preis)</td>
                <td>@(bestellung.menge)</td>
                <td>@(bestellung.mitarbeiterid)</td>
                <td>@(bestellung.tischid)</td>
                <td>@(bestellung.gastid)</td>
                
            </tr>
        }

    }
    
    </tbody>
    
</table>


