@model List<Tisch>

@{
    ViewData["Title"] = "Home Page";
}


<h1>Das sind meine Verfügbaren Tische im Restaurante</h1>
<table>
    <thead>
    <tr>
        <th>TischId</th>
        <th>Länge</th>
        <th>Breite</th>
        <th>Höhe</th>
    </tr>
    </thead>
    <tbody>
    @{

        foreach (var tisch in Model)
        {
            
            <tr>
                <td>@(tisch.TischId)</td>
                <td>@(tisch.laenge)</td>
                <td>@(tisch.breite)</td>
                <td>@(tisch.hoehe)</td>
            </tr>
        }

    }
    
    </tbody>
    
</table>

<h1>Das sind meine Gäste im Restaurante</h1>
<table>
    <thead>
    <tr>
        <th>GastId</th>
        <th>Vorname</th>
        <th>Nachname</th>
        <th>Aufenthaltsdauer</th>
    </tr>
    </thead>
    <tbody>
    @{

        foreach (var gast in Model)
        {
            
            <tr>
                <td>@(gast.Gastid)</td>
                <td>@(gast.vorname)</td>
                <td>@(gast.nachname)</td>
                <td>@(gast.aufenthaltsdauer)</td>
            </tr>
        }

    }
    
    <h1>Das sind meine Produkte im Restaurante</h1>
    <table>
        <thead>
        <tr>
            <th>ProduktId</th>
            <th>Bezeichnung</th>
            <th>Preis</th>
            <th>Typ</th>
        </tr>
        </thead>
        <tbody>
        @{
    
            foreach (var produkt in Model)
            {
                
                <tr>
                    <td>@(produkt.produktid)</td>
                    <td>@(produkt.bezeichnung)</td>
                    <td>@(produkt.preis)</td>
                    <td>@(produkt.typ)</td>
                </tr>
            }
    
        }
    
    </tbody>
    
</table>

